.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
}

/*button styles */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    line-height: 1.5;
    outline: none;
}

.btn:hover {
    background-color: #424242;
}


.full-screen img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.slick-dots {
    position: absolute;
    list-style: none;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots li button {
    background: transparent;
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 2px solid #737070;
    border-radius: 50%;
}

.slick-dots .slick-active button{
    background-color: #302e2e;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    font-size: 0;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #fff;
}

.slick-next,
.slick-prev {
    height: 30px;
    width: 30px;
    z-index: 5;
}



.slick-prev {
    right: 15px;
}

.slick-next {

    left: 15px;
}

