/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.wrapper {
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 5px;
}

.full-screen img {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
}

.full-screen .slick-dots {
    position: absolute;
    list-style: none;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
}

.full-screen .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.full-screen .slick-dots li button {
    background: transparent;
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 2px solid #E2CBD3;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.full-screen .slick-dots li button:hover {
    background-color: #7c7481;
}

.full-screen .slick-dots .slick-active button {
    background-color: #7c7481;
}

.full-screen .slick-arrow {
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-size: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
    border: none;
    z-index: 5;
    color: #E2CBD3;
}


.full-screen .slick-prev {
    left: 25px;
}

.full-screen .slick-next {
    right: 25px;
}

/* .slick-next {
    right: 1px;
    padding-right: 24px;
}
Clickable button in full height
*/

.profile-cards {
    padding: 100px 0;
}

.profile-cards .card .card-img {
    position: relative;
}

.profile-cards .card .card-img .hover-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.profile-cards .card:hover .card-img .hover-box {
    opacity: 1;
}

.profile-cards .card-title {
    padding: 20px 20px 17px;
    background-color: #e1e6ea;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.profile-cards .card-title h2 {
    color: #292f36;
    text-transform: uppercase;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-cards .card-title p {
    color: #8d8f92;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    margin: 0;
}

.profile-cards .card:hover .card-title {
    background-color: #3a454d;
}

.profile-cards .card:hover .card-title h2,
.profile-cards .card:hover .card-title p {
    color: white;
}

.profile-cards .card .card-img .hover-box .social-networks {
    position: absolute;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.profile-cards .card .card-img .hover-box .social-networks li {
    margin: 0 2px;
}


.profile-cards .card .card-img .hover-box .social-networks li a {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 24px;
    background-color: #3a454d;
}

.profile-cards .card .card-img .hover-box .social-networks li a:hover {
    background-color: #4e5a62;
}

.profile-cards .slick-dots {
    position: absolute;
    list-style: none;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    text-align: center;
}

.profile-cards .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.profile-cards .slick-dots li button {
    background: transparent;
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 5px;
    border: 2px solid #e1e6ea;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.profile-cards .slick-dots li button:hover {
    background-color: #4e5a62;
}

.profile-cards .slick-dots .slick-active button {
    background-color: #4e5a62;
}

.profile-cards .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    margin: 0;
    font-size: 30px;
    background: transparent;
    border: none;
    z-index: 5;
    color: #3a454d;
}


.profile-cards .slick-prev {
    left: 0;
}

.profile-cards .slick-next {
    right: 0;
}

@media (min-width: 400px) {
    .profile-cards .card {
        margin: 0 5px;
    }
}

@media (min-width: 576px) {
    .profile-cards .card {
        margin: 0 8px;
    }
}

@media (min-width: 768px) {
    .profile-cards {
        padding: 100px 30px;
    }

    .profile-cards .card {
        margin: 0 10px;
    }
}

@media (min-width: 1024px) {

    .profile-cards .card {
        margin: 0 15px;
    }
}

@media (min-width: 1240px) {
    .profile-cards {
        margin: 0 -30px;
    }
}
