html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font: 14px/1.5 "Quattrocento Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: #fff;
    min-width: 320px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: top;
}

p, ul, ol {
    margin: 0 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 .5em;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    color: #1976d2;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}